.Intro{
  background-color: #ffffff;
  width: 70%;
  opacity: 90%;
  margin-top: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  font-size: 115%;
}

main h3{
  font-size: 200%;
  margin-bottom: 0.5%;
  color: white;
}

main h4{
  font-size: 175%;
  margin-top: 0.5%;
  color: white;
}

.Lavoisier p,
.Proust p{
  width: 40%;
  opacity: 90%;
  margin-top: 1%;
  padding: 1%;
}

.antes{
 width: 30%;
}

.depois{
  float: right;
  margin-right: 27%;
  font-size: 150%;
}

.perfil img{
  width: 20%;
  height: 20%;
}

.perfil strong{
  display: block;
  background-color: #ffffff;
  opacity: 90%;
  margin-top: 1%;
  padding: 1%;
  width: 30%;
}

.limpa{
  clear: left;
}

footer p{
  border: solid 1px white;
  background-color: #ffffff87;
  padding: 15%;
}
